*{
    padding: 0;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
/* * header starts */ 
header{
    height: 3em;
    /* border: 1px solid red; */
}
#title{
    margin-left:8%;
    margin-top:2%;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    /* border: 1px solid red; */
    float:left;
    
} 
.navbar{
    float: right;
    /* border: 1px solid red; */
    margin-top:-45px;
    
    
    
}
.navbar a{
    color:black;
    text-decoration: none;
    border-right: 2px solid black;
    margin-left: 90PX;
    padding-right: 30px;
    font-size: x-large;
   
}
#contact{
    border:none;
}
/* header end */
#hello{
    border: 3px solid rgb(80, 76, 76);
    text-align: center;
    color: rgba(0, 0, 0, 0.228);
    font-size: xx-large;
    margin-top: 80px;
    padding-bottom: 50px;
    padding-top: 20px;
}

/* about me starts */
.about{
    border: 2px solid red;
    
    height: 35em;
    padding-top: 30px;
}
#heading{
    color: brown;
    text-align: center;
    font-size: xx-large;
    text-decoration-line: underline;
    border: 2px solid red;
    
}
#image{
    border: 2px solid red;
    float: left;
    margin-left: 20%;
    margin-top: 10%;
}
.paragraph{
    border: 2px solid red;
    float: right;
    margin-left: 60%;
    margin-bottom: 50%;
    margin-right: 40px;
    margin-top: 10px;
 
   
}


/* about me ends */
/* skills starts */
#skills{
    text-align: center;
    text-decoration-line: underline;
    border:  2px solid blue;
    /* padding-top: 1px; */
    /* height: -20em;
    padding-bottom: 100%;
    margin-bottom: 40%; */ */
}
.skill_list{ 
    /* padding-left: 150px;
    font-size: x-large; */
    border: 2px solid green
}
/* skills end */
/* education starts */
#education{
    text-align: center;
    color: brown;
    font-size: 50px;
    text-decoration-line: underline;
}
#college{
    margin-left: 100px;
    font-size: xx-large;
    color: rgba(96, 87, 87, 0.713);
}
#school{
    margin-left: 100px;
    font-size: xx-large;
    color: rgba(96, 87, 87, 0.713);
}
.college{
    margin-left: 150px;
    color: rgba(96, 87, 87, 0.713);
    font-size: x-large;
}

.school{
    margin-left:150px;
    color: rgba(96, 87, 87, 0.713);
    font-size: x-large;
    
}
/* education ends */
/* contact form starts */
form{
    border: 2px solid red;
    float: left;
    margin-bottom: 50%;
    
    margin-left: 520px;
    height: 20em;
    padding: 20px;
}
form button{
    background-color: rgb(223, 217, 217);
    border-color: rgb(216, 207, 207);
    font-size: larger;
    margin-left: 80px;
    margin-top: -22px;
    
}
form h2{
    text-align: center;
    text-decoration-line:underline;
    
}
.name{
    
}
/* contact form end */
/* footer starts */
footer{
    border:  2px solid red;
    padding-left: 80px;
    margin-top: 30%;
}
.footer a{
    text-decoration: none;
    border:  2px solid red;
    /* margin-right:10%; */
    border-right: 2px solid black;
    /* padding-left: 70px; */
    font-size:larger;
   padding-right: 40px;
    color: black;
    
}
#footer{
    color: brown;
    word-spacing: 10px;
    font-size: x-large;
    border:  2px solid red;
    padding-right:10px;
    float: left;
}
/* footer ends */